<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <authorization>
            <deny users="?" />
        </authorization>
    </system.web>

<location path="Agents.aspx">
  <system.web>
    <authorization>
      <deny users="?"/>
      <deny roles="General User"/>
    </authorization>
  </system.web>
</location>
</configuration>