<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <authorization>
      <deny users="?" />
    </authorization>
  </system.web>

  <!--<location path="NewFollowUp.aspx">
    <system.web>
      <authorization>
        <allow roles="administrator"/>
        <allow roles="Fee Earner"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>-->
  <location path="PendingListTimeEntry.aspx">
    <system.web>
      <authorization>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>


</configuration>