<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <authorization>
      <allow roles="administrator" />
      <deny users="*" />
    </authorization>
  </system.web>

  <location path="ChangePassword.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
</configuration>
